/* Auth基本設定 */
.card-header{
  text-align: center;
}
.input_area{
  margin-top: 100px;
}
.mb-0{
  text-align: center;
  margin-top: 30px;
}
/* ログイン画面*/
.display_area{
  display: flex;
  justify-content: center;
}

.form-control{
  width: 100%;
  border-bottom: solid 1px;
  background-color: #F2E9E4;
}
.navbar-nav{
  display: flex;
  justify-content: space-between;
}
.py-4{
  margin-top: 50px;
}
/* 新規登録画面 */
