.title_area{
display:flex;
justify-content: center;
}
.input_area{
  max-width: 100%;
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
}
.input_area>form{
  width: 70%;
}
.product_area{
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-gap: 25px;
  background-color: #F2E9E4;
  margin-top: 30px;
  padding: 15px;
}
.product_area h3{
  margin-bottom: 10px;
}
.flex_2col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
select{
  border: 1px solid;
  padding: 3px;
  width: 50px;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}
select::-ms-expand {
    display: block;
}
.price_area>table{
  width: 200px;
  margin: 0 auto;
}
tr{
  display: flex;
  justify-content:space-between;
  border-bottom: solid 1px #dcdcdc;
}
.button_area{
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  justify-items: center;
}
.button_animation{
  width: 300px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 2rem;
  text-transform: uppercase;
  border: 5px solid #A9D0D9;
}
.button_animation::before{
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #A9D0D9;
  transform: translateX(-100%);
}
.button_animation{
  &:hover{
    color:#7FA8B4;
    font-size: 150%;
    &:before{
      transform: translateX(0);
    }
  }
  &:hover,&:before{
    transition: 0.5s ease-in-out;
  }
}
/* サンプル動画 */
.movie_col_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.item {
    width: 100%;
}
